- provide :title, "Dashboard"

.row
  .col-md-3
    =link_to "Clients", clients_path
  .col-md-3
    =link_to "Discounts", discounts_path
  .col-md-3
    =link_to "Collections"
  .col-md-3
    =link_to "State of Accounts"
