- provide :title, "Discounts"

.page-content-inner
  .row
    .col-xs-12
      .portlet.light.portlet-fit
        .portlet-title
          = link_to "CREATE NEW", new_discount_path, class: "btn green"
        .portlet-body
          = smart_listing_render :discounts
