%li.menu-dropdown.classic-menu-dropdown{"aria-haspopup" => "true"}
  %a
    Maintenance
  %ul.dropdown-menu.pull-left
    %li=link_to "Clients", root_path, class: "nav-link"
    %li=link_to "Employees", root_path, class: "nav-link"
    %li=link_to "Products", root_path, class: "nav-link"
    %li=link_to "Locations", root_path, class: "nav-link"
    %li=link_to "Companies", root_path, class: "nav-link"
    %li=link_to "Discounts", root_path, class: "nav-link"
    %li=link_to "Cargo Calculation", root_path, class: "nav-link"
    %li=link_to "Parcel Calculation", root_path, class: "nav-link"
    %li=link_to "Handling Fees", root_path, class: "nav-link"
    %li=link_to "Unit Measurements", root_path, class: "nav-link"
    %li=link_to "Vehicles", root_path, class: "nav-link"
    %li=link_to "Waybill Batches", root_path, class: "nav-link"
    %li=link_to "Prefixes", root_path, class: "nav-link"
