%li.menu-dropdown.classic-menu-dropdown{"aria-haspopup" => "true"}
  %a
    %i.fa.fa-refresh
    SWITCH
  %ul.dropdown-menu.pull-left
    - if session[:switch] === "master"
      %li=link_to "Mirasol"
      %li=link_to "Pasay"
      %li=link_to "San Andres"
    - else
      %li=link_to "Back to Master"

