%li.menu-dropdown.classic-menu-dropdown{"aria-haspopup" => "true"}
  %a
    Maintenance
  %ul.dropdown-menu.pull-left
    %li=link_to "Clients", clients_path, class: "nav-link"
    %li=link_to "Discounts", discounts_path, class: "nav-link"
